@{
    ViewData["Title"] = "Login";
}

<div class="flex items-center justify-center py-16">
    <div class="card w-full max-w-sm">
        <h2 class="card-header">@ViewData["Title"]</h2>

        <form method="post" asp-action="Login" class="space-y-3">
            @Html.AntiForgeryToken()
            <div>
                <label class="form-label">Username</label>
                <input type="text" name="username" required class="form-input">
            </div>

            <div>
                <label class="form-label">Password</label>
                <input type="password" name="password" required class="form-input">
            </div>
            <div class="flex">
                <button type="submit" class="mx-auto btn btn-primary">Login</button>
            </div>
        </form>

        @if (!ViewData.ModelState.IsValid)
        {
            <ul class="mt-4 text-sm text-red-500">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        }
    </div>
</div>
