@model SalesStock.Web.ViewModels.UserManagement.CreateUserViewModel

@{
    ViewData["Title"] = "Add New User";
}


<div class="flex items-center justify-center py-12">
    <div class="card w-full max-w-md">
         <h1 class="card-header">@ViewData["Title"]</h1>
        
         <form asp-action="CreateUser" class="space-y-3">
            <div asp-validation-summary="ModelOnly" class="alert-error" role="alert"></div>

            <div>
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-input" />
                <span asp-validation-for="UserName" class="mt-2 text-sm text-red-600"></span>
            </div>

            <div>
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-input" />
                <span asp-validation-for="Email" class="mt-2 text-sm text-red-600"></span>
            </div>

            <div>
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-input" />
                <span asp-validation-for="Password" class="mt-2 text-sm text-red-600"></span>
            </div>

            <div>
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-input" />
                <span asp-validation-for="ConfirmPassword" class="mt-2 text-sm text-red-600"></span>
            </div>

            <div>
                <label asp-for="SelectedRole" class="form-label"></label>
                <select asp-for="SelectedRole" class="form-input" asp-items="@Model.RoleList">
                    <option value="">-- Choose a Role --</option>
                </select>
                <span asp-validation-for="SelectedRole" class="form-error"></span>
            </div>

            <div class="flex justify-end space-x-3 pt-6">
                <a asp-action="Index" class="btn btn-neutral">Back to List</a>
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}