@model SalesStock.Web.ViewModels.UserManagement.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<div class="flex items-center justify-center py-12">
    <div class="card w-full max-w-md">
        <h1 class="card-header">@ViewData["Title"] for <span class="text-blue-600">@Model.UserName</span></h1>

        <form asp-action="ResetPassword" class="space-y-5">
            <div asp-validation-summary="ModelOnly" class="alert-error" role="alert"></div>

            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserName" />

            <div>
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-input" type="password" />
                <span asp-validation-for="NewPassword" class="form-error"></span>
            </div>

            <div>
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-input" type="password" />
                <span asp-validation-for="ConfirmNewPassword" class="form-error"></span>
            </div>

            <div class="flex justify-end space-x-3 pt-6">
                <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-neutral">Cancel</a>
                <button type="submit" class="btn btn-danger">Reset Password</button>
            </div>
        </form>
    </div>
</div>